<!DOCTYPE html>
<html>
  <head>
    <title>Spam Detector - Visualizations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="header"></div>
  
    <div class="content">
      <div class="title text-center">
        <h1>Social Media Toxic Comment Detector</h1>
        <h2>Data Visualizations</h2>
      </div>



      <div class="section">
        <h2 class="text-center">Confusion Matrix</h2>
        <img src="{{ url_for('static', filename='Images/ConfusionMatrixTONA.png') }}" alt="Confusion Matrix">
        <p>
          <b>Description:</b> This is a confusion matrix, it provides a clear visualization of how the model predicted against the actual label. The first Diagonal represents what the system got correct and the off diagonal is what the Machine learning model misclassified, It is useful in understanding how the system acts and types of errors that occur.
        </p>
      </div>


    </div>
    
    <a class="text-center margin-bottom" href="/">Back to Spam Detector</a>

    <div class="footer"></div>
  </body>
</html>
